$alike-color-white:#FFFFFF;
$alike-color-default:#F8F8F8;
$alike-color-primary:#0099FF;
$alike-color-success:#66C666;
$alike-color-fail:#F66666;
$alike-color-warn:#F99966;
$alike-color-info:#909099;

$alike-color-0:#000000;
$alike-color-3:#333333;
$alike-color-6:#666666;
$alike-color-9:#999999;
$alike-color-c:#cccccc;

$alike-size-block:100%;
$alike-size-normal:normal;
$alike-size-large:360px;
$alike-size-big:180px;
$alike-size-small:90px;
$alike-size-mini:45px;